# TQQQ Demo

In [5]:
# Load in the desired ticker
import simulate_data
data = simulate_data.process_leveraged_data('QQQ', 3)
data.head()

Downloading data for QQQ...

,Date,Open,High,Low,Close,Adj Close,Volume,Daily Return,Leveraged Return,Simulated Leveraged Price
0,1999-03-10,51.12500,51.156250,50.28125,51.0625,43.417282,5232000,NaN,0.000000,43.417282
1,1999-03-11,51.43750,51.734375,50.31250,51.3125,43.629856,9688600,0.004896,0.014688,44.055004
2,1999-03-12,51.12500,51.156250,49.65625,50.0625,42.567009,8743600,-0.024361,-0.073082,40.835392
3,1999-03-15,50.43750,51.562500,49.90625,51.5000,43.789284,6369000,0.028714,0.086142,44.353051
4,1999-03-16,51.71875,52.156250,51.15625,51.9375,44.161285,4905800,0.008495,0.025486,45.483424